<div class="todo">
  <h2><%= todo.todo_content %></h2>
  <ul>
    <li><a href="/todos/<%= todo.id %>" class="delete">Delete</a></li>
    <li><a href="/todos/<%= todo.id %>" class="complete">Complete</a></li>
  </ul>
</div>
