<div id="todo">
  <div class="toolbox">
    <form action="/add_todo" method="post">
      <input type="text" class="todo" name="content_info" value="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">
    <% @todos.each do |todo_object| %>
        <div class="todo">
          <h2><%= todo_object.todo_content %></h2>
          <ul>
            <li><a href="/todos/<%= todo_object.id %>" class="delete">Delete</a></li>
            <li><a href="/todos/<%= todo_object.id %>" class="complete">Complete</a></li>
          </ul>
        </div>
    <% end %>
  </div>

  <div id="todo_template" style="display: none;">
    <div class="todo">
      <h2>Todo Name</h2>
      <ul>
        <li><a href="#" class="delete">Delete</a></li>
        <li><a href="#" class="complete">Complete</a></li>
      </ul>
    </div>
  </div>
</div>
